@keyframes slideOutDown {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(0, 130vh, 0);
  }
}


.sky {
	display: flex;
}


.air {
	flex: 4;
}


.raindrop {
	animation-name: slideOutDown;
	animation-iteration-count: infinite;
	animation-duration: 5s;
	animation-timing-function: linear;
	background-color: blue;
	border-radius: 50%;
	height: 5px;
	flex: 0 0 5px;
	position: relative;
	 opacity: 0;
	 top: -20px; 
	 display: none;
}
