@import "animate_water_flow.css";
@import "animate_rain.css";
/*FOR TESTING ONLY*/
.testing {
	margin: 5px;
	padding: 7px;
	background-color: darkred;
	color: white;
	border-radius: 7px;
}
/*FOR TESTING ONLY*/


.flex-container{ display: flex; }
.flex-container > aside { transition: flex, ease, 10s; }
.flex-container > aside:nth-of-type(2) { flex: 1; }


/* SET BY JS
.container{
  flex: 1;
} 
*/

body {
	transition: background-color, 7s;
}


article {
	flex: 0 0 500px;
}


input[name="duck_color"] {
	border:none;
	outline:none;
	transition: background-color, 3s;

}


span.inline > * {
	display: inline;
}


.phasedDisplay > * {
	opacity: 0;
	visibility: collapse;
	transition: all, 1s;
	position: absolute;
}


#duck {
	position: relative;
	bottom: -1.7rem;
}




/*MEDIA QUERIES*/
#print {
	display: none;
}
@media print {
	.flex-container{
		display:none;
	}
	#print {
		display:block;
		font-size:20pt;
	}
}


@media (max-width: 499px) {
article {
		max-width: 355px;
		min-width: unset;
	}
}
