@import "animate_water_flow.css";

input[name="duck_color"] {
	border:none;
	outline:none;
	transition: background-color, 3s;
}

span.inline > * {
	display: inline;
}

.phasedDisplay > * {
/*	position: absolute;
	opacity: 0;
*/
	visibility: collapse;
	transition: all, 4s;
}

.storyStart{
	transition: display, 1s;
}

#duck {
	position: relative;
	bottom: -1.7rem;
}
