input {
	border:none;
	outline:none;
	transition: background-color, 3s;
}
p, form, input {
	display: inherit;
}
.hidden_submit {
	display: inline;
	position: absolute;
	width:0;
	height: 0;
	opacity: 0;
}

.phaseOne {
	transition: display, 1s;
}

.phaseTwo {
	display: none;
	transition: display, 1s;
}
.phaseThree {
	display: none;
	transition: display, 1s;
}

.inline {
	display: inline;
}

